<h3>Trends</h3>

<div class="card">
    <div class="card-body">
        <strong>Trend 1</strong>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong>Trend 2</strong>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <strong>Trend 3</strong>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <strong>Trend 4</strong>
    </div>
</div>