<h3>You might like</h3>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
            </div>
            <div class="col-md-10">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
            </div>
            <div class="col-md-10">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
            </div>
            <div class="col-md-10">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>