<h3>You might like</h3>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <%= gravatar_image_tag("test@gmail.com", size: 65, alt:"test") %>
            </div>
            <div class="col-md-8">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <%= gravatar_image_tag("test@gmail.com", size: 65, alt:"test") %>
            </div>
            <div class="col-md-8">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <%= gravatar_image_tag("test@gmail.com", size: 65, alt:"test") %>
            </div>
            <div class="col-md-8">
              <strong>John Brown</strong>
              <i class="fa fa-user-plus float-right"></i>
            </div>
        </div>
    </div>
</div>